#define MyAppName "DownTrack"
#define MyAppVersion "0.1.0"
#define MyAppPublisher "MediaForge2446"
#define MyAppExeName "DownTrack.exe"

[Setup]
AppId={{B57A9A4C-0A15-47C6-9F18-2C0EDB2E6E2D}
AppName={#MyAppName}
AppVersion={#MyAppVersion}
AppPublisher={#MyAppPublisher}
DefaultDirName={localappdata}\Programs\DownTrack
DefaultGroupName={#MyAppName}
OutputDir=..\artifacts\installer
OutputBaseFilename=DownTrack-WebSetup
ArchitecturesAllowed=x64compatible
ArchitecturesInstallIn64BitMode=x64compatible
PrivilegesRequired=lowest
WizardStyle=modern windows11
WizardSizePercent=120,120
SetupIconFile=..\src\DownTrack.App\Assets\Brand\downtrack.ico
UninstallDisplayIcon={app}\{#MyAppExeName}
DisableProgramGroupPage=yes
DisableReadyPage=no
DisableDirPage=yes
Compression=lzma2
SolidCompression=yes
ArchiveExtraction=full
VersionInfoDescription=DownTrack Web Installer
VersionInfoProductName=DownTrack
VersionInfoCompany=MediaForge2446

[Files]
Source: "https://github.com/MediaForge2446/DownTrack/releases/download/nightly/DownTrack-Payload.zip"; DestDir: "{app}"; DestName: "DownTrack-Payload.zip"; ExternalSize: __PAYLOAD_SIZE__; Hash: "__PAYLOAD_HASH__"; Flags: external download extractarchive ignoreversion recursesubdirs createallsubdirs

[Icons]
Name: "{autodesktop}\DownTrack"; Filename: "{app}\{#MyAppExeName}"
Name: "{group}\DownTrack"; Filename: "{app}\{#MyAppExeName}"

[Run]
Filename: "{app}\{#MyAppExeName}"; Description: "Launch DownTrack"; Flags: nowait postinstall skipifsilent

[UninstallDelete]
Type: files; Name: "{app}\DownTrack-Payload.zip"
